body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    color: rgb(0, 0, 0);
}

header{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#check{
    display: none;
}

.checkButton{
    cursor: pointer;
    display: none;
}


h2{
    cursor: pointer;
}

header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

header a:hover{
    box-shadow: 0 0 10px 0 rgb(75, 75, 75);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2%;
}

nav div{
    margin: 10px;
}

/*----- hamburger menu ----*/
.checkButton div{
    background: rgb(0, 0, 0);
    width: 28px;
    height: 5px;
    margin: 5px;
    border-radius: 50px;
}


/*------------ main --------------*/
main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    background-image: linear-gradient(to top, rgba(19, 87, 121, 0.055), rgba(122, 122, 122, 0.349));
}

.personInformationDiv{
    margin: min(5%);
}

#contactDiv a{
    color : rgb(0, 0, 0);
    text-decoration: none;
}

#contactDiv a img{
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

#contactDiv a img:hover{
    box-shadow: 0 0 10px 0 black;
}

.paragraphMain{
    /*font-weight: bold;*/
}

.devResumeDiv{
    position: relative;
    margin: min(5%);
}

.devResumeDiv img{
    width: 100%;
    height: 100%;
}


/* resume */
.devResumeDiv #resume{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10%;
    margin-right: 10%;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    padding: 10px;
    box-shadow: 0 0 5px 0 black;
}

#resume:hover{
    box-shadow: 0 0 10px 0 black;
}

/*----------- contents --------------*/
.containers{
    background-color: rgb(255, 255, 255);
}

section{
    width: 100%;
}

section h1{
    text-align: center;
    width: 40%;
    margin: 5% auto 2% auto;
    border-radius: 10px;
    padding: 1rem 0;
}

/*experience*/
#experience div{
    margin: auto;
    max-width: 35%;
    font-size: 20px;
    text-align: justify;
    text-overflow: ellipsis;
    
}


/* skills */
#skills div{
    max-width: 40%;
    margin: auto;
    text-align: center;
}
#skills div p{
    width: 30%;
    text-align: center;
    display: inline-block;
    padding: 20px 0;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgb(107, 107, 107);
    font-weight: bold;
    vertical-align: top;
}

#skills div p:hover{
    box-shadow: 0 0 10px 0 rgb(49, 49, 49);
}


/* education */
#education p, #projects p{
    margin: auto;
    max-width: 48%;
    font-size: 22px;
    text-align: justify;
    margin-bottom: 14px;
}


span{
    font-style: italic;
    font-weight: bold;
}

/* otherTraining */

#otherTraining{
    text-align: center;
}

#otherTraining article{
    height: 40vh;
    width: 40vh;
    display: inline-block;
    margin: 2%;
    background-color: rgba(179, 179, 179, 0.884);
    vertical-align: top;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px black;
}

#otherTraining article a{
    text-decoration: none;
    color: black;
}

#otherTraining article img{
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0 0;
}

#otherTraining article p{
    width : 100%;
    height : 20%;
    text-align: center;
    color: rgb(8, 8, 8);
    font-size: 0.9rem;
}

/** footer **/
footer{
    width: 100%;
    text-align: center;
    opacity: 0.6;
    margin-top: 4%;
}


/*********** **************/

@media screen and (max-width: 992px) {
    
    main{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #experience div, #skills div, #education p, #projects p{
        max-width: 90%;
        font-size: 17px;
    }

    #skills div p{
        width: 40%;
        font-size: 80%;
    }
}

@media screen and (max-width: 600px) {
    
    header nav{
        flex-direction: column;
    }

    main{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #experience div, #skills div, #education p, #projects p{
        max-width: 90%;
        font-size: 17px;
    }


    .checkButton{
        display: block;
    }

    .menu{
        position: fixed;
        width: 95%;
        height: 90vh;
        background: rgb(5, 68, 65);
        top: 80px;
        left: -110%;
        transition: all .7s; 
        
    }

    .menu a{
        padding: 10px;
        margin-left: -10%;
    }

    #check:checked ~ ul{
        left: 0;
    }
}